@model TestToko.Models.Barang
@{ ViewData["Title"] = "Detail";
}

<h1>Details</h1>

<div>
    <h4>Barang</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">

@Html.DisplayNameFor(model => model.NamaBarang)
        </dt>
        <dd class="col-sm-10">

@Html.DisplayFor(model => model.NamaBarang)
        </dd>
        <dt class="col-sm-2">

@Html.DisplayNameFor(model => model.HargaBarang)
        </dt>
        <dd class="col-sm-10">

@Html.DisplayFor(model => model.HargaBarang)
        </dd>
        <dt class="col-sm-2">

@Html.DisplayNameFor(model => model.QtyBarang)
        </dt>
        <dd class="col-sm-10">

@Html.DisplayFor(model => model.QtyBarang)
        </dd>
</dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdBarang">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>