@model IEnumerable<TestToko.Models.Barang>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("ID Barang")
            </th>
            <th>@Html.DisplayName("Nama Barang")
            </th>
            <th>@Html.DisplayName("Harga Barang")
            </th>
            <th>@Html.DisplayName("Qty Barang")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>

                    @Html.DisplayFor(modelItem => item.IdBarang)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.NamaBarang)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.HargaBarang)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.QtyBarang)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdBarang">Edit</a> |
                    <a asp-action="Detail" asp-route-id="@item.IdBarang">Detail</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdBarang">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>